.container{
    border: 2px black;
    border-style: groove;
    border-radius: 2px;
    padding: 1%;
}
.input{
    width: 75%;
    padding:0.8%;
    text-align: center;
    margin-left: 10%;
    margin-bottom:5%;
}
.btn{
    font-size: larger;
}
.btn:hover{
    background-color: royalblue;
}
.result{
    background-color: black;
    color: red;
    border-radius: 5px;
    text-align: center;
}
